.idea/
./deploy/ansible/.vault_pass
./deploy/ansible/group_vars/all/*
./deploy/ansible/scripts/.env
./deploy/ansible/files/*
./deploy/ansible/.vault_pass
./deploy/vault/configs/tls/*
./deploy/vault/data/*
