stages:
  - deploy

deploy:
  stage: deploy
  before_script:
    - docker --version
  script:
    - echo "Тесты прошли, дплом продакшен..."
    - docker run --rm hello-world
    - echo "Деплой успешно завершен!"
