stages:
  - deploy

deploy:
  stage: deploy
  image: docker:latest
  before_script:
    - docker --version
  script:
    - echo "Тесты прошли, деплоим продакшен..."
    - docker run --rm hello-world
    - echo "Деплой успешно завершен!"
