- name: Install docker, docker compose, git
  hosts: prod
  become: yes
  become_user: root
  become_method: sudo
  connection: ssh
  collections:
    - community.docker

  tasks:
    - name: Install git
      apt:
        name: git
        state: present
        update_cache: yes
        cache_valid_time: 3600

  roles:
    - docker