- name: Set gitlab-runner to prod
  hosts: prod
  become: yes
  become_user: root
  become_method: sudo

  tasks:
    - name: Create dir for config
      ansible.builtin.file:
        path: /srv/gitlab-runner/config
        state: directory
        mode: '0755'

    - name: Start runner container
      community.docker.docker_container:
        name: gitlab-runner
        image: gitlab/gitlab-runner:alpine
        state: started
        restart_policy: always
        volumes:
          - /srv/gitlab-runner/config:/etc/gitlab-runner
          - /var/run/docker.sock:/var/run/docker.sock
        detach: true

    - name: Register gitlab-runner
      include_role:
        name: gitlab-runner
      tags: configure


