- name: Set gitlab-runner to prod
  hosts: prod
  become: yes
  become_user: root
  become_method: sudo
  collections:
    - community.hashi_vault
    - community.docker
    - community.general
  vars_files:
    - "{{ playbook_dir }}/../group_vars/all/secrets.yml"

  tasks:
    - name: Create dir for config
      ansible.builtin.file:
        path: /srv/gitlab-runner/config
        state: directory
        mode: '0755'

    - name: Start runner container
      community.docker.docker_container:
        name: gitlab-runner
        image: gitlab/gitlab-runner:alpine
        state: started
        restart_policy: always
        volumes:
          - /srv/gitlab-runner/config:/etc/gitlab-runner
          - /var/run/docker.sock:/var/run/docker.sock
        detach: true

    - name: Authenticate to Vault using AppRole
      delegate_to: localhost
      run_once: true
      community.hashi_vault.vault_login:
        url: https://127.0.0.1:8200
        auth_method: approle
        role_id: "84023045-e037-cbf4-d811-e4d03c4f4e7b"
        secret_id: "{{ vault_secret_id }}"
      register: vault_login
      check_mode: false
      no_log: true

    - name: Get GitLab API token from Vault
      delegate_to: localhost
      run_once: true
      community.hashi_vault.vault_read:
        url: https://127.0.0.1:8200
        path: "secrets/data/gitlab/token-api"
        token: "{{ vault_login.login.auth.client_token }}"
      register: vault_secret
      no_log: true

    - name: Create new runner via API (returns glrt- token)
      uri:
        url: "https://gitlab.com/api/v4/projects/user/runners"
        method: POST
        headers:
          PRIVATE-TOKEN: "{{ vault_secret.data.data.data.value }}"
        body_format: json
        body:
          runner_type: "project_type"
          description: "auto-runner-{{ ansible_date_time.epoch }}"
          tag_list: []
          run_untagged: true

        status_code: 201
        validate_certs: yes
      register: runner_creation
      delegate_to: localhost
      check_mode: no
      run_once: true
      tags: uri

    - name: Debug
      debug:
        msg: "Answer: {{runner_creation}}"


    - name: Create runner on GitLab.com via API
      command: |
        docker exec gitlab-runner gitlab-runner register \
          --non-interactive \
          --url "https://gitlab.com" \
          --token "{{project_info.json.runners_token}}" \
          --executor "docker" \
          --description "runner-for-payout-service" \
          --tag-list " " \
          --run-untagged="true" \
          --locked="false" \
          --docker-image "docker:latest" \
          --docker-volumes "/var/run/docker.sock:/var/run/docker.sock" \
          --docker-volumes "/cache:/cache" \
          --docker-volumes "/builds:/builds" \
          --docker-privileged="true" \
          --docker-pull-policy="always"
      args:
        creates: /srv/gitlab-runner/config/config.toml
      register: gitlab_runner_result

  handlers:
    - name: Restart GitLab Runner container
      community.docker.docker_container:
        name: gitlab-runner
        state: restarted