    - name: Create runner on GitLab.com via API
      command: |
        docker exec gitlab-runner gitlab-runner register \
          --non-interactive \
          --url "https://gitlab.com" \
          --token "{{ runner_token }}" \
          --executor "docker" \
          --description "runner-for-payout-service" \
          --docker-image "docker:latest" \
          --docker-volumes "/var/run/docker.sock:/var/run/docker.sock" \
          --docker-volumes "/cache:/cache" \
          --docker-volumes "/builds:/builds" \
          --docker-privileged="true" \
          --docker-pull-policy="always"
      register: gitlab_runner_result
      notify: Restart GitLab Runner container