- name: Запуск и включение Docker демона
  systemd:
    name: docker
    state: started
    enabled: yes

- name: Add user to docker group
  user:
    name: ansible
    groups: docker
    append: yes