    - name: Authenticate to Vault using AppRole
      delegate_to: localhost
      run_once: true
      community.hashi_vault.hashivault_login:
        url: https://127.0.0.1:8200
        auth_method: approle
        role_id: "84023045-e037-cbf4-d811-e4d03c4f4e7b"
        secret_id: "{{ vault_secret_id }}"
      register: vault_login
      no_log: true