auth_enabled: false

server:
  http_listen_port: 3100

common:
  ring:
    instance_addr: 0.0.0.0
    kvstore:
      store: memberlist
  replication_factor: 1
  path_prefix: /loki/data

schema_config:
  configs:
  - from: 2020-05-15
    store: tsdb
    object_store: filesystem
    schema: v13
    index:
      prefix: index_
      period: 24h

storage_config:
  filesystem:
    directory: /loki/data/chunks

compactor:
  working_directory: /loki/data/compactor
  compaction_interval: 10m
  retention_enabled: true
  delete_request_store: filesystem
  delete_request_cancel_period: 1h
  retention_delete_delay: 2h

limits_config:
  reject_old_samples: true
  reject_old_samples_max_age: 168h
  ingestion_rate_mb: 16
  ingestion_burst_size_mb: 32
  max_query_length: 721h
  retention_period: 168h